# Dependencias y archivos del sistema
node_modules/
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de IDE/editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción
/dist
/build 